<style>
    .btn{
        color:white;
        background-color:green;
        padding:2px 4px; 
        border-radius:10%;
        width:20vw;
        margin-top:6px;
        font-weight:bold;
    }
    form{
        color:green;
        display:flex;
        flex-direction:column;
        width:50%;
        justify-content: center;
        align-items:center;
    }
    div{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
      
    }
i{
    font-weight:bold;
    color:green;
}
</style>  
 <div >  

    <h1> <u> WORD COUNTER APP</u></h1>
    <p> This app helps to count the number of  repeated words in  sentences </p>
    <p> the word count will be displayed in a new page after submission </p>
    
    <form method="POST">
        {% csrf_token %}
        
        {{form}}
        <input class="btn" type="submit" value="submit"/>
        
    </form>
    <i> prepared by ATP :+2347080824483 </i>
</div>

