<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WORD COUNTER APP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    
      </html>
      <div class="container  col-md-6 offset-md-3" >  
        <div class="card text-center ">
            <div class="card-header bg-primary color-primary text-light">
              ABEL PAUL COUNTER APP WITH DJANGO
            </div>
            <div class="card-body">

              <h1 class="card-title text-success"> WORD COUNTER APP</h1>
              <p class="card-text">This app helps to count the number of  repeated words in  sentences </p>
              <p class="card-text"> the word count will be displayed in a new page after submission </p>
              
              <form class="form" method="POST">
       
                {% csrf_token %}
               <div class="form-element my-4"> 
              <p class="form-control">  {{form}} </P>
            </div> 
                <input class="btn btn-success" type="submit" value="submit"/>
                
            </form>


              
            </div>
            <div class="card-footer text-body-secondary ">
                
    <i class="text-primary"> contact me on :+2347080824483 , </i>
            </div>
          </div>

          

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
