<style >
table{
    width:100%;
        border-collapse:collapse; 
}
   table td,table td{
        border:1px solid green;
        padding:8px;
    }

    table th{
        padding-top:12px;
        padding-bottom :12px;
        text-align:left;
        background-color:green;
        color:white;
    }
    i{
        font-weight:bold;
        color:green;
    }
    h1{
        display:flex;
        justify-content:center;
        align-items:center;
        min-weight:100%; 
        color:green;
        align-text:center;
        font-size:30px

    }

</style>
<h1> THE WORDS AND COUNT OF IT </h1>
<table >
    <tr>
        <th>Word</th>
        <th>count</th>

    </tr>
    {%for word, count in word_count%}
    <tr>
<td>{{word}} </td>
<td>{{count}}</td>
    </tr>
    {%endfor%}
    <i> prepared by ATP :+2347080824483 </i>
</table>